.slick-contents
  %div.slick
    - @posts.first(4).each do |post|
      .posts
        =link_to "/posts/#{post.id}", class: "posts-show" do
          %img.image{src: post.images.first.src.url }
          .mask
            .likes
              ♡
              = post.likes_count
            .text
              - @parents.each do |parent|
                - if post.category_id == parent.id
                  = parent.name 
