.contents_user_show
  %p.category-name
    新規投稿一覧
    .main-posts-detail
      - @posts.each do |post|
        =link_to "/posts/#{post.id}" ,class: "posts-show" do
          .detail-image{style: "background-image: url(#{post.images.first.src.url});"}
          .mask
            .likes
              ♡
              = post.likes_count
            .text
              - @parents.each do |parent|
                - if post.category_id == parent.id
                  = parent.name